* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home {
  min-height: 100vh;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__aboutMe {
  letter-spacing: 1px;
  line-height: 1.6;
}

.home__aboutMe__header {
  line-height: normal;
  color: #707070;
  font-weight: bold;
  margin: 1rem 0;
  font-size: 3rem;
  line-height: 1.2;
}

.home__aboutMe__greet {
  color: #707070;
  font-size: 0.8rem;
}

.home__aboutMe__desc {
  color: #707070;
  max-width: 35rem;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.home__aboutMe__detail {
  color: #707070;
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
}

.home__buttons {
  margin-top: 18px;
}

.button {
  padding: 0.5rem 1rem;
  color: #707070;
  background-color: white;
  border: #707070 solid 1px;
  border-radius: 5%;
  cursor: pointer;
}

.button--primary {
  background-color: #ff6a07;
  color: white;
  font-weight: 200;
  border: none;
}

.button--secondary {
  border: #ff6a07 solid 1px;
  color: #ff6a07;
}

.highlight {
  position: relative;
  z-index: -1;
}

.highlight::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 50%;
  bottom: 0;
  background-color: #ffc6a0;
}

.illustration {
  background-image: url("home_ilus.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 60%;
  width: 40%;
  height: 100vh;
  z-index: -1;
}

.experience {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
}

.experience__tabs {
  max-width: 768px;
  color: #707070;
}

.experience__tabs__title {
  font-weight: bold;
  padding: 0 1rem;
  font-size: 3rem;
  -webkit-transition: color ease-in 0.5s;
  transition: color ease-in 0.5s;
  cursor: pointer;
  color: #707070;
}

.experience__tabs__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
}

.experience__tabs__company__item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.experience__tabs__company__item--active {
  border-bottom: #ff6a07 1px solid;
}

.experience__tabs__description {
  padding: 0.5rem 1rem;
}

.experience__tabs__description__item {
  display: none;
}

.experience__tabs__description__item--active {
  display: block;
}

.experience__tabs__description__item__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.experience__tabs__description__item__additional {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.experience__tabs__description__item__work {
  font-size: 1rem;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.experience__tabs__description__item__work li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 1em;
}

.experience__tabs__description__item__work li:before {
  content: ">";
  padding-right: 5px;
}

.experience:hover .experience__tabs__title {
  color: #ff6a07;
}

.pill {
  border-radius: 100px;
  border: #ff6a07 1px solid;
  background-color: white;
  color: #ff6a07;
  padding: 0 0.5rem;
}

.project {
  min-height: 100vh;
  max-width: 80%;
  color: #707070;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
}

.project__title {
  font-size: 3rem;
  -webkit-transition: color ease-in 0.5s;
  transition: color ease-in 0.5s;
  cursor: pointer;
  color: #707070;
  font-weight: bold;
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.project__item__image img {
  -webkit-filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);
          filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);
}

.project__item__image img:hover {
  -webkit-filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(330deg);
          filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(330deg);
}

.project__item__desc__name {
  font-size: 2.5rem;
  color: #202020;
}

.project__item__desc__stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.project__item__desc__stack * {
  margin-right: 0.2rem;
}

.project__item__desc__stack--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project__item__desc__stack--right * {
  margin-left: 0.2rem;
}

.project__item__desc__more {
  font-size: 1rem;
}

.project__item__desc--right {
  text-align: right;
}

.project:hover .project__title {
  color: #ff6a07;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 768px;
  margin: 10vh auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__form {
  padding: 1rem 2rem;
  width: 50%;
  border-right: #ff6a07 1px solid;
}

.footer__form__title {
  font-size: 2rem;
  color: #707070;
  margin-bottom: 1rem;
}

.footer__form__buttons {
  margin-top: 1rem;
}

.footer__form input {
  width: 100%;
  padding: 0.5rem;
}

.footer__form textarea {
  padding: 0.5rem;
  width: 100%;
}

.footer__socialMedia {
  padding: 1rem 2rem;
  width: 50%;
  border-left: #ff6a07 1px solid;
}

.footer__socialMedia__title {
  font-size: 2rem;
  color: #707070;
}

.text-center {
  text-align: center;
}

.marginBottom {
  margin-bottom: 1rem;
}

.attribution {
  text-align: center;
  background-color: #ff6a07;
  padding: 1rem;
  margin-top: 1rem;
}

.attribution a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .illustration {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */