$font-stack : "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$primary-color : #ff6a07;
$secondary-color : #707070;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.6;
    font-family: $font-stack
}
.home {
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    &__aboutMe {
        letter-spacing: 1px;
        line-height: 1.6;

        &__header {
            line-height: normal;
            color: $secondary-color;
            font-weight: bold;
            margin: 1rem 0;
            font-size: 3rem;
            line-height: 1.2;
        }

        &__greet {
            color: $secondary-color;
            font-size: 0.8rem;
        }
        &__desc {
            color: $secondary-color;
            max-width: 35rem;
            margin-top: 1rem;
            font-size: 0.8rem;
        }
        &__detail {
            color: $secondary-color;
            font-weight: 400;
            margin: 0;
            font-size: 1.5rem;
        }
    }
    &__buttons {
        margin-top: 18px;
    }
    
}
.button {
    padding: 0.5rem 1rem;
    color: $secondary-color;
    background-color: white;
    border: $secondary-color solid 1px;
    border-radius: 5%;
    cursor: pointer;

    &--primary {
        background-color: $primary-color;
        color: white;
        font-weight: 200;
        border: none;
    }
    &--secondary {
        border: $primary-color solid 1px;
        color: $primary-color;
    }
}
.highlight {
    position: relative;
    z-index: -1;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 50%;
        bottom: 0;
        background-color: lighten($color: $primary-color, $amount: 30%);
    }
}
.illustration {
    background-image: url("home_ilus.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 60%;
    width: 40%;
    height: 100vh;
    z-index: -1;
}

.experience {
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    letter-spacing: 1px;
    &__tabs {
        max-width: 768px;
        color: $secondary-color;

        &__title {
            font-weight: bold;
            padding: 0 1rem;
            font-size: 3rem;
            transition: color ease-in 0.5s;
            cursor: pointer;
            color: $secondary-color;
        }

        &__company {
            display: flex;
            padding: 0.5rem 1rem;
            &__item {
                padding : 0.5rem 1rem;
                cursor: pointer;
                &--active {
                    border-bottom: $primary-color 1px solid;
                }
            }
        }

        &__description {
            padding : 0.5rem 1rem;
            &__item {
                display: none;
                
                &--active {
                    display: block;
                }

                &__title {
                    font-size: 1.5rem;
                    font-weight: 500;
                    margin-bottom: 0.25rem;
                }
                &__additional {
                    font-size: 0.8rem;
                    margin-bottom: 1rem;
                    font-weight: 300;
                }
                &__work {
                    font-size: 1rem;
                    list-style: none;
                    margin-left: 0;
                    padding-left: 0;

                    li {
                        padding-left: 1em;
                        text-indent: -1em;
                        margin-bottom: 1em;
                    }
                    
                    li:before {
                        content: ">";
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    &:hover {
        .experience{
            &__tabs {
                &__title {
                    color: $primary-color;
                }
            }
        }    
    }
}
.pill {
    border-radius: 100px;
    border: $primary-color 1px solid;
    background-color: white;
    color: $primary-color;
    padding: 0 0.5rem;
}
.project {
    min-height: 100vh;
    max-width: 80%;
    color: $secondary-color;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    letter-spacing: 1px;

    &__title {
        font-size: 3rem;
        transition: color ease-in 0.5s;
        cursor: pointer;
        color: $secondary-color;
        font-weight: bold;
    }

    &__item {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 1rem;

        &__image {
            img {
                filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);

                &:hover {
                    filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(330deg);
                }
            }
        }

        &__desc {
            &__name {
                font-size: 2.5rem;
                color: rgb(32, 32, 32);
            }
            &__stack {
                display: flex;
                font-size: 0.75rem;
                margin-bottom: 1rem;
                * {
                    margin-right: 0.2rem;
                }

                &--right {
                    justify-content: flex-end;

                    * {
                        margin-left: 0.2rem;
                    }
                }
            }
            &__more {
                font-size: 1rem;
            }
            &--right {
                text-align: right;
            }
        }
    }
    &:hover {
        .project {
            &__title {
                color: $primary-color;
            }
        }
    }
}
.footer {
    display: flex;
    max-width: 768px;
    margin: 10vh auto;
    justify-content: center;

    &__form {
        padding: 1rem 2rem;
        width: 50%;
        border-right: $primary-color 1px solid;

        &__title {
            font-size: 2rem;
            color: $secondary-color;
        }

        &__buttons {
            margin-top: 1rem;
        }

        input {
            width: 100%;
            padding: 0.5rem;
        }

        textarea {
            padding: 0.5rem;
            width: 100%;
        }

    }

    &__socialMedia {
        padding: 1rem 2rem;
        width: 50%;
        border-left: $primary-color 1px solid;
        &__title {
            font-size: 2rem;
            color: $secondary-color;
        }
    }
}
.text-center {
    text-align: center;
}
.attribution {
    text-align: center;
    background-color: $primary-color;
    padding: 1rem;
    margin-top: 1rem;

    a {
        color: white;
        text-decoration: none;
    }
}
@media(max-width: 768px) {
    .illustration {
        display: none;
    }
}